@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Warp', cursive;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgb(168, 232, 142);
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}
a{
    display: flex;
    width: 19%;
    height: 20%;
    font-size: 35px;
    border: 12px solid rgb(83, 122, 84);
    border-top-color: rgb(62, 82, 65);
    border-left-color: rgb(62, 82, 65);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(7, 92, 44);
    background: rgba(173, 243, 183, 0.7);
    border-radius: 10px;
    transition: 0.5s;
    margin:  0 100px;
}
h1{
    display: block;
    margin: 40 auto;
}
a:hover{
    transform: scale(1.5);
}