<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('./samples/head.ejs')%>
    <link rel="stylesheet" href="./styles/list.css">
</head>
<body>
    <%- include('./samples/listEl.ejs')%>
</body>
</html>